.fa {
    align-items: center;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #e2e2e2;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #e2e2e2;
    color: white;
}


/* Instagram */

.fa-instagram {
    background: #e2e2e2;
    color: white;
}

.imageformat {
    background-repeat: no-repeat;
    background-color: rgb(90, 157, 235);
    background-size: 100%;
    height: 200px;
}

.imageformatsection {
    background-repeat: no-repeat;
    background-color: rgb(90, 157, 235);
    background-size: 100%;
    height: 500px;
}

.imageformat0 {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
}